*{
    margin: 0px;
    padding: 0px;
}

encabezado{

 /*width: 70%;*/
 width: 1000px;
 pantalla: flex;
 justify-content:centro;
 align-items:centro;
 background: rgb(1, 77, 77);
 height: 60px;

}
    nav{
        background: rgb(187, 183, 183);
        height: 40px;
    }
   nav ul li {
       float: left;
       list-style: nome;
       margin: 10px;
       line-height: 30px;
   } 

   .clearfix{
       clear: both;
   }
   h1{
         --color: verde;
       color: #070808;
        text-align: centro;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size: 3.5 rem;
       height: 60px; 
   }
   
   aside{
       float: left;
       width: 20%;
       background: lightblue;
   }
   h3{
        color:#e9b035;

   }
   p b{
       color: hotpink;
       height: 50px;
           
   }
  
   
   h4{
         color:rgb(13, 19, 4);
   }
   
   nav{
    color de fondo:#1597E5;
    acolchado: 0 5%;
    text-align: centro;
   }
   nav a {
    --fondo-color:rojo;
    color de fondo:  #193498;
    pantalla: flex;
    justify-content: centro;
    align-items: centro;
    altura: 40px;
   }
   nav a :hover{
    texto-decoración:subrayar ;
    color:#c92e2e;
   
   }
   nav ul{
    estilo de lista: ninguno;
    pantalla: flex;
   }
   nav li{
    posición: relativa;
    anchura: 50%;
    text-align: centro;
   }
   nav li:desplazarse . desplega>li{
    arriba: 0%;
    pantalla: bloque;
   }
   . desplega li{
    pantalla: ninguna;
    posición: relativa;
   }
   . desplega{
    posición: absoluta;
    pantalla: flex;
    flex-direction: columna;
    ancho: 100%;
   }
   . desplega a {
    color de fondo:#193498;
   }
   . desplega a :hover{
    color:negro;
   }
   . desplega li:hover{
    pantalla: bloque;
   }
   
   sección{
    flexión: 3;
    relleno: 25px;
    color defondo:  #1597E5;
    cuadrícula-columna: 1/4;
   }
   aparte{
    flexión: 1;
    color de fondo:#193498;
    relleno: 25px;
    cuadrícula-columna: 4/5;
   }
   artículo{
    margen: 25px;
    relleno: 10px;
    color de fondo: blanco;
    pantalla: flex;
    flex-direction: fila;
    align-items: centro;
   }
   
   principal{
    pantalla: cuadrícula;
    cuadrícula-plantilla-columnas: 1fr 1fr 1fr 1fr;

   }
   footer{
    color de fondo:  #193498;
    pantalla: flex;
    flex-direction: fila;
    align-items: centro;
    justify-content: centro;
    altura: 30px;
   }
   